@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 0.813rem;
  font-family: "Manrope", sans-serif;
  background: hsl(210, 46%, 95%);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

button {
  font-family: inherit;
}

main {
  display: block;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  grid-area: none;
}

.container {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1.5rem;
}
@media (min-width: 48rem) {
  .container {
    padding: 0 5rem;
  }
}

.articleCard {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0 2.5rem 2.5rem 0.625rem hsla(210, 29%, 84%, 0.5);
}
.articleCard__content {
  padding: 0 1.875rem 1.125rem;
}
.articleCard__content h1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.016rem;
  line-height: 130%;
  color: hsl(217, 19%, 35%);
  margin-bottom: 1.5rem;
}
.articleCard__content p {
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: hsl(214, 17%, 51%);
  margin-bottom: 3rem;
}
.articleCard__content-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articleCard__content-bottom-author {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: normal;
}
.articleCard__content-bottom-author img {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
}
.articleCard__content-bottom-author div {
  display: flex;
  flex-direction: column;
}
.articleCard__content-bottom-author div strong {
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: hsl(217, 19%, 35%);
}
.articleCard__content-bottom-author div time {
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: hsl(212, 23%, 69%);
}
.articleCard__content-bottom button {
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(210, 46%, 95%);
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.articleCard__content-bottom button.active {
  background: hsl(214, 17%, 51%);
}
.articleCard__content-bottom button.active path {
  fill: white;
}
@media (min-width: 48rem) {
  .articleCard {
    max-width: 38rem;
    flex-direction: row;
    overflow: visible;
  }
  .articleCard figure img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.625rem 0 0 0.625rem;
  }
  .articleCard__content {
    padding: 2.563rem 2.25rem 2.563rem 0;
  }
  .articleCard__content p {
    margin-bottom: 1.5rem;
    max-width: 19.438rem;
  }
}
@media (min-width: 80rem) {
  .articleCard {
    max-width: 45.625rem;
    gap: 2.5rem;
  }
  .articleCard figure {
    min-width: 17.813rem;
  }
  .articleCard figure img {
    -o-object-position: left;
       object-position: left;
  }
  .articleCard__content {
    padding: 1.875rem 2.5rem 1.875rem 0;
  }
  .articleCard__content p {
    max-width: 22.813rem;
  }
  .articleCard__content-bottom button:hover {
    background: hsl(214, 17%, 51%);
  }
  .articleCard__content-bottom button:hover path {
    fill: white;
  }
}

.shareToast {
  position: absolute;
  top: 0;
  left: -1.875rem;
  right: -1.875rem;
  bottom: -1.125rem;
  background: hsl(217, 19%, 35%);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  opacity: 0;
  transform: translateY(150%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.shareToast.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.shareToast div {
  display: flex;
}
.shareToast div span {
  margin-right: 1.5rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 25%;
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
}
.shareToast div ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.shareToast button {
  background: hsl(214, 17%, 51%);
  cursor: pointer;
}
.shareToast button path {
  fill: white;
}
@media (min-width: 48rem) {
  .shareToast {
    transform: translateY(10%);
    left: auto;
    bottom: auto;
    right: -32.5%;
    border-radius: 0.625rem;
    z-index: 10;
  }
  .shareToast::after {
    content: "";
    position: absolute;
    bottom: -20%;
    left: 46%;
    width: 1.5rem;
    height: 1.5rem;
    background: hsl(217, 19%, 35%);
    transform: rotate(45deg);
    z-index: -1;
  }
  .shareToast button {
    display: none;
  }
  .shareToast.active {
    transform: translateY(-160%);
  }
}
@media (min-width: 80rem) {
  .shareToast {
    right: -27.5%;
  }
}

footer {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}
footer a {
  color: hsl(214, 17%, 51%);
}